/* Set a background image by replacing the URL below */
body {
  background: url("https://images.unsplash.com/photo-1587614382346-4ec70e388b28") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}