/* Set a background image by replacing the URL below */
body {
  background: url("https://images.unsplash.com/photo-1518770660439-4636190af475") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}